{{ if eq .chezmoi.hostname "tempest"}}
[default]
path = "~/.config/wallpapers/tempest.jpg"

{{ else if eq .chezmoi.hostname "normandy"  }}
[default]
path = "~/.config/wallpapers/normandy.jpg"

{{ end }}